/* roboto-300 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: local('Roboto Light'), local('Roboto-Light'),
        url('~@/assets/fonts/Robotolight.woff2') format('woff2'),
        url('~@/assets/fonts/Robotolight.woff') format('woff'),
        url('~@/assets/fonts/Robotolight.ttf') format('truetype');
}

/* roboto-400 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto'), local('Roboto-Regular'),
        url('~@/assets/fonts/Roboto.woff2') format('woff2'),
        url('~@/assets/fonts/Roboto.woff') format('woff'),
        url('~@/assets/fonts/Roboto.ttf') format('truetype');
}

/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('~@/assets/fonts/Robotomedium.woff2') format('woff2'),
        url('~@/assets/fonts/Robotomedium.woff') format('woff'),
        url('~@/assets/fonts/Robotomedium.ttf') format('truetype');
}
