@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('~@/assets/fonts/0033a2fbc0329740fb86c1cfd134cb94.eot'); /* IE9*/
    src: url('~@/assets/fonts/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */
            url('~@/assets/fonts/0033a2fbc0329740fb86c1cfd134cb94.woff2')
            format('woff2'),
        /* chrome、firefox */
            url('~@/assets/fonts/0033a2fbc0329740fb86c1cfd134cb94.woff')
            format('woff'),
        /* chrome、firefox */
            url('~@/assets/fonts/0033a2fbc0329740fb86c1cfd134cb94.ttf')
            format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url('~@/assets/fonts/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto')
            format('svg'); /* iOS 4.1- */
}
