/**
 * Typography style
 * Typography Golden Ratio https://grtcalculator.com/
 */

body {
    font: normal 15px / 26px 'Roboto', 'Helvetica Neue', 'Arial', sans-serif !important;
    font-weight: 400;
}

h1 {
    @include font(34px, 59px, 300);

    margin: 0;

    @include breakpoint(phone) {
        @include font(29px, 48px);
    }
}

h2 {
    @include font(29px, 48px, 300);

    margin: 0;

    @include breakpoint(phone) {
        @include font(23px, 39px);
    }
}

h3 {
    @include font(23px, 39px, 300);

    margin: 0;

    @include breakpoint(phone) {
        @include font(18px, 32px);
    }
}

h4 {
    @include font(16px, 28px, 300);

    margin: 0;

    @include breakpoint(phone) {
        @include font(14px, 26px);
    }
}

p {
    @include font(14px, 26px, 300);

    margin: 0;

    word-wrap: break-word;

    @include breakpoint(phone) {
        @include font(11px, 21px);
    }
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
}

b,
strong {
    font-weight: 500;
}
