article {
    border: 1px solid #eee;
    padding: 2em 0;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(120px, auto);
    grid-gap: 20px;

    margin: 2em auto;
    max-width: 1280px;

    article {
        position: relative;

        text-align: center;

        ul {
            padding: 0;
        }

        img {
            margin: 1em 1em 2em;
            max-width: 300px;
            width: 100%;

            // Breakpoints
            @include breakpoint(phone) {
                max-width: 180px;
            }
        }
    }

    // Breakpoints
    @include breakpoint(desktop) {
        grid-template-columns: 1fr 1fr;
    }

    // Breakpoints
    @include breakpoint(tablet) {
        grid-template-columns: 1fr;
    }
}
