.cart {
    &__item {
        display: grid;
        grid-template-columns: 380px 1fr;
        position: relative;

        img {
            width: 100%;
            max-width: 280px;
        }
    }
}
