form {
    margin: 0 0 3em;
    label {
        color: #333;
        margin: 1em 0 0.2em;
    }
    input {
        margin: 0 !important;
        padding: 0.5em !important;
    }
    select {
        margin: 0 !important;
        padding: 0.5em !important;
    }

    textarea {
        margin: 0 !important;
        padding: 0.5em !important;
    }

    figure {
        margin: 2em 0;
        img {
            border: 1px solid #eeeeee;
            padding: 1em;
            display: block;
            width: 100%;
            max-width: 280px;
        }
    }
}
.inputfile {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-family: inherit;
    padding: 0.25em 1em;
    margin: 0 1em 0 0;
    &:hover {
        background: #182e7e;
        color: #ffffff;
    }
}
