.modal {
    &__mask {
        background: hsla(0, 0%, 0%, 0.6);

        display: flex;
        align-items: center;
        justify-content: center;

        @include size(100vh, 100vw);

        @include fixed(left 0 bottom 0);

        transform: translateY(0%);
        transition: opacity 0.3s ease;

        z-index: 9998;
    }
    &__container {
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);

        width: 100%;
        max-width: 480px !important;
        padding: 2em;
        position: relative;

        transition: all 0.3s ease;

        svg {
            cursor: pointer;

            width: 24px;
            position: absolute;

            right: 8px;
            top: 8px;

            &:hover {
                opacity: 0.6;
            }
        }

        form {
            border-bottom: 1px solid #ddd;
            margin: 1em 0 0.8em;
            padding: 0 0 2em;

            input {
                max-width: 280px;
            }
        }

        button {
            &:hover {
                background-color: #002097;
                color: #fff;
            }
        }
    }
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}
